.form-group
  label(for="title") 제목
  input.form-control(type="text", name="title", placeholder="What's your question?", value=question.title)
.form-group
  label(for="question") 공모전
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="tags") 태그
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
